# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
res/
!Assets/Plugins/Android/res/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.bak
*.bk
*.log
excel.txt

localcache/
Assets/UnityVS/
Assets/UnityVS.meta
ProjectSettings/ProjectSettings.asset
Assets/Particle Playground.meta
Assets/Custom Assets/VFX/FX_Common/1224.meta
Assets/Custom Assets/VFX/WOWtexiao.meta
Assets/Plugins/Android/res.meta
Assets/Plugins/Android/bin.meta
Assets/zPkgBundle/outputBundles/readmeDontRemove.txt.meta
Assets/zPkgBundle/outputBundles/android.meta
Assets/Resources/VFX/Skill/SkillEffectResources.meta
Assets/Custom Assets/Mesh/Character/CommonHeroes/Nightelves_Hunter.meta
Assets/Resources/TextAsset.meta
Assets/Plugins/Android/res/drawable-hdpi.meta
Assets/Plugins/Android/res/drawable-ldpi.meta
Assets/Plugins/Android/res/drawable-mdpi.meta
Assets/Plugins/Android/res/drawable-xhdpi.meta
Assets/StreamingAssets/build_info.txt
Assets/StreamingAssets/build_info.txt.meta

Assets/Resources/Texture/Atlas/AvatarMask_0.mat
Assets/Resources/Texture/Atlas/AvatarMask_1.mat
Assets/Resources/Texture/Atlas/AvatarMask_2.mat
Assets/Resources/Texture/Atlas/AvatarMask_3.mat
Assets/Resources/Texture/Atlas/AvatarMask_4.mat

Assets/Resources/VFX/UI/fx_label_background_light/FXU_Label_Background_Light01.mat
Assets/Resources/VFX/UI/fx_label_background_light/FXU_Label_Background_Light02.mat
Assets/Resources/VFX/UI/fx_lingjiang/FXU_Glow01.mat
Assets/Resources/VFX/UI/fx_lingjiang/FXU_Loop02.mat
Assets/Resources/VFX/UI/fx_lingjiang/FXU_LoopLine01.mat
Assets/Resources/VFX/UI/fx_lingjiang/FXU_Point3x3.mat
Assets/Resources/VFX/UI/fx_ui_plus_enlarge/fx_plus_enlarge_mat.mat

tools/genBigCS/big.tmp
tools/genBigCS/result.cs
tools/genBigCS/MsgPackSerializers
tools/genBigCS/com
tools/genSerializer/snap.cs
tools/genSerializer/snap.cs.temp
tools/genSerializer/registerCode.cs
Debug/
# androidProject/
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
!MpkBean/MpkBean.csproj
!JsonProtocolMaker/JsonProtocolMaker.csproj
androidProject/BDGameSDK_LibProject/bin/
androidProject/BDGameSDK_LibProject/gen/
androidProject/KIWI/assets/
androidProject/KIWI/bin/
androidProject/KIWI/gen/
EasyEditor/
Assets/Plugins/Android/res/layout.meta
Assets/Plugins/LitJson.dll.mdb
Assets/Plugins/LitJson.dll.mdb.meta
Assets/Plugins/LitJson.pdb
Assets/Plugins/LitJson.pdb.meta
ExcelReader/bin/
MpkBean/bin/
Assets/Plugins/*.dll.mdb
Assets/Plugins/*.dll.mdb.meta
Assets/Plugins/LitJson.pdb
Assets/Plugins/LitJson.pdb.meta
!androidProject/BDGameSDK_LibProject/res/
!androidProject/KIWI/res/

androidProject/android.noChannel/
androidProject/android.mi/
androidProject/android.qq/
androidProject/android.lan/
androidProject/MiSdkSampleForAppPaymentMiTalk/
